.NavbarDiv{

   position: relative;
    width: 132px;
    height: 149px;
    left: 51px;
    top: 466px;
}
.Inicio{
    position: absolute;
    width: 59px;
    height: 20px;
    left: -0.01px;
    top: -1px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    /* identical to box height, or 108% */

    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;

    color: #181818;
    }
.Proyectos{
    position: absolute;
    width: 96px;
    height: 20px;
    left: 1.87px;
    top: 42.5px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;


    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;

    color: #3D3D3D;
}
.Cursos{
    
    position: absolute;
    width: 66px;
    height: 20px;
    left: 2.44px;
    top: 86px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;


    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;

    color: #3D3D3D;
}
.Espacios{
    position: absolute;
width: 77px;
height: 20px;
left: 1.83px;
top: 129.5px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 20px;


display: flex;
align-items: center;
letter-spacing: 0.5px;
text-transform: uppercase;

color: #3D3D3D;
}